# PyTorch (CUDA 11.7 기준)
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

# Lightning (Torch 2.x 호환 버전)
pytorch-lightning==2.0.9

# Transformers (Trainer 포함, KoBART 호환 안정 버전)
transformers==4.36.2
tokenizers==0.15.2
sentencepiece>=0.1.95

# dataset 지원 x -> evaluate 사용
evaluate

# Hugging Face datasets 및 관련 유틸
datasets>=2.10.1
huggingface_hub>=0.14.1

# 실험 및 평가 도구
numpy<2.0.0
pandas>=1.3
scikit-learn>=1.0
tqdm>=4.64
wandb>=0.15
sacrebleu


accelerate==0.25.0  